:root {
  --var-white-color: #ffffff;
  --var-main-color: #bce0e5;
}

html {
  background-color: var(--var-main-color);
}


/* Form */
.connexion-form {
  margin-top: 3em;
  padding: 2rem;
  background-color: var(--var-white-color);
}

#login-img {
  text-align: center;
}

#error-message {

}
